// Created by Rui MA on 28 Sep 2026

#include <windows.h>
#include <commctrl.h>
#include "resource.h"
#pragma code_page(65001)

1 RT_MANIFEST "Setup.manifest"

IDD_WIZARD_PAGE DIALOGEX 0, 0, 360, 172
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Setup"
FONT 10, "Segoe UI"
BEGIN
    ICON            "", IDC_STATUS_ICON, 14, 14, 24, 24, SS_REALSIZECONTROL
    LTEXT           "", IDC_MAIN_INSTRUCTION, 50, 14, 296, 24, SS_NOPREFIX
    LTEXT           "", IDC_PAGE_DESCRIPTION, 50, 42, 296, 62, SS_NOPREFIX
    EDITTEXT        IDC_DETAILS, 50, 134, 296, 64, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP, WS_EX_CLIENTEDGE
    CONTROL         "", IDC_PROGRESS, "msctls_progress32", 0, 50, 170, 296, 7
    PUSHBUTTON      "Back", IDC_BACK, 124, 144, 72, 22
    DEFPUSHBUTTON   "Install", IDC_ACTION, 202, 144, 72, 22
    PUSHBUTTON      "Cancel", IDC_CANCEL_ACTION, 280, 144, 66, 22
END
