// Created by Rui MA on 28 Sep 2026

#include <windows.h>
#include <commctrl.h>
#include "resource.h"

1 RT_MANIFEST "ComponentsWizard.manifest"

IDD_WIZARD_PAGE DIALOGEX 0, 0, 340, 220
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Unlock Windows with iPhone Components"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "", IDC_MAIN_INSTRUCTION, 12, 12, 316, 20, SS_NOPREFIX
    EDITTEXT        IDC_DETAILS, 12, 38, 316, 125, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP, WS_EX_CLIENTEDGE
    CONTROL         "", IDC_PROGRESS, "msctls_progress32", WS_BORDER, 12, 171, 316, 9
    PUSHBUTTON      "Back", IDC_BACK, 132, 191, 60, 17
    PUSHBUTTON      "Install", IDC_ACTION, 200, 191, 60, 17
    DEFPUSHBUTTON   "Cancel", IDC_CANCEL_ACTION, 268, 191, 60, 17
END
