// Created by Rui MA on 28 Sep 2026

#include <windows.h>
#include <commctrl.h>
#include "resource.h"
#pragma code_page(65001)

1 RT_MANIFEST "ComponentsWizard.manifest"

IDD_WIZARD_PAGE DIALOGEX 0, 0, 320, 172
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Unlock Windows with iPhone® Setup"
FONT 10, "Segoe UI"
BEGIN
    LTEXT           "", IDC_MAIN_INSTRUCTION, 14, 12, 292, 24, SS_NOPREFIX
    EDITTEXT        IDC_PAGE_DESCRIPTION, 14, 42, 292, 62, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    AUTOCHECKBOX    "Operation details", IDC_LOG_TOGGLE, 14, 112, 150, 16
    EDITTEXT        IDC_DETAILS, 14, 134, 292, 64, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP, WS_EX_CLIENTEDGE
    CONTROL         "", IDC_PROGRESS, "msctls_progress32", 0, 14, 170, 292, 7
    PUSHBUTTON      "Back", IDC_BACK, 124, 144, 58, 16
    DEFPUSHBUTTON   "Install", IDC_ACTION, 190, 144, 62, 16
    PUSHBUTTON      "Cancel", IDC_CANCEL_ACTION, 260, 144, 46, 16
END
